# Extract Wellington Liquor Store Location Using OpenStreetMap API

In [1]:
import osmnx as ox
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# Define the area of interest - Wellington, New Zealand
place_name = "Wellington City, New Zealand"

# Get the polygon for Wellington City
G = ox.graph_from_place(place_name, network_type='drive')

# Retrieve points of interest for liquor stores
liquor_stores = ox.geometries_from_place(place_name, tags={'shop': 'alcohol'})

# Print the dataframe of liquor stores
liquor_stores[['name', 'geometry']]

/tmp/ipykernel_3673104/2866812930.py:8: FutureWarning: The `geometries` module and `geometries_from_X` functions have been renamed the `features` module and `features_from_X` functions. Use these instead. The `geometries` module and function names are deprecated and will be removed in the v2.0.0 release. See the OSMnx v2 migration guide: https://github.com/gboeing/osmnx/issues/1123
  liquor_stores = ox.geometries_from_place(place_name, tags={'shop': 'alcohol'})

                                                name  \
element_type osmid
node         298578488               The Cellar Room
             1116347011   Regional Wines and Spirits
             1237961824                   Liquorland
             1793947848       Discount Liquor Centre
             1933112463                          NaN
             2577628991               Garage Project
             2581960427                   Liquorland
             2626504642            Cuba Liquor World
             2967030816              Glengarry Wines
             6064972586                 Super Liquor
             6856370255               Thirsty Liquor
             12082128603        The Bottle-O Miramar
way          396336896                  The Bottle-O
             1155390697                    JK Liquor

                                                                   geometry
element_type osmid
node         298578488                          POINT (174.76361 -41.30541)
             1116347011                         POINT (174.78208 -41.29977)
             1237961824                         POINT (174.81510 -41.31532)
             1793947848                         POINT (174.77470 -41.29102)
             1933112463                         POINT (174.78188 -41.31368)
             2577628991                         POINT (174.76791 -41.29516)
             2581960427                         POINT (174.77242 -41.29545)
             2626504642                         POINT (174.77575 -41.29348)
             2967030816                         POINT (174.76241 -41.28938)
             6064972586                         POINT (174.73721 -41.28436)
             6856370255                         POINT (174.77322 -41.33440)
             12082128603                        POINT (174.82569 -41.30705)
way          396336896    POLYGON ((174.82564 -41.17718, 174.82566 -41.1...
             1155390697   POLYGON ((174.79910 -41.22814, 174.79920 -41.2...

In [7]:
# Clean data - ensure name is a string and drop any rows with missing geometry
liquor_stores_clean = liquor_stores_clean.dropna(subset=['geometry']
liquor_stores_clean['name'] = liquor_stores_clean['name'].astype(str)

# Specify the path where you want to save the GeoJSON file
output_geojson_path = 'liquor_stores_wellington.geojson'

# Save the GeoDataFrame to GeoJSON format
liquor_stores_clean.to_file(output_geojson_path, driver="GeoJSON")

print(f"Liquor store data has been saved to {output_geojson_path}")

Liquor store data has been saved to liquor_stores_wellington.geojson

In [3]:
! pwd

/Users/dazieldang/Desktop/UC_Course/Spatial Data Science/SpatialDS/scripts

In [4]:
# Load the car crash dataset from the GeoJSON file, this only includes the Wellington Region in last 10 years
well_crash_gdf = gpd.read_file('../data/output/well_city_crash.geojson')

# Print the result 
well_crash_gdf.head()

,OBJECTID,advisorySpeed,areaUnitID,bicycle,bridge,bus,carStationWagon,cliffBank,crashDirectionDescription,crashFinancialYear,...,tree,truck,unknownVehicleType,urban,vanOrUtility,vehicle,waterRiver,weatherA,weatherB,geometry
0,66388986,NaN,575300,0.0,0.0,0.0,1.0,1.0,South,2018/2019,...,0.0,0.0,0.0,Urban,0.0,0.0,0.0,Light rain,Null,POINT (174.75760 -41.28854)
1,66388998,NaN,572600,0.0,0.0,0.0,2.0,0.0,North,2017/2018,...,0.0,0.0,0.0,Urban,0.0,0.0,0.0,Fine,Null,POINT (174.82511 -41.16802)
2,66389034,NaN,577000,0.0,NaN,0.0,1.0,NaN,South,2019/2020,...,NaN,0.0,0.0,Urban,0.0,NaN,NaN,Fine,Null,POINT (174.81144 -41.32660)
3,66389036,NaN,576800,0.0,NaN,0.0,0.0,NaN,East,2018/2019,...,NaN,0.0,0.0,Urban,1.0,NaN,NaN,Light rain,Null,POINT (174.79145 -41.30418)
4,66389128,NaN,572900,0.0,NaN,0.0,2.0,NaN,Null,2017/2018,...,NaN,0.0,0.0,Urban,0.0,NaN,NaN,Fine,Null,POINT (174.77253 -41.27599)

In [7]:
# Load the car crash dataset from the GeoJSON file, this only includes the Wellington Region in last 10 years
alcohol_store_gdf = gpd.read_file('../data/liquor_stores_wellington.geojson')

# Show the output 
alcohol_store_gdf.head(20)

,element_type,osmid,name,geometry
0,node,298578488,The Cellar Room,POINT (174.76361 -41.30541)
1,node,1116347011,Regional Wines and Spirits,POINT (174.78208 -41.29977)
2,node,1237961824,Liquorland,POINT (174.81510 -41.31532)
3,node,1793947848,Discount Liquor Centre,POINT (174.77470 -41.29102)
4,node,1933112463,nan,POINT (174.78188 -41.31368)
5,node,2577628991,Garage Project,POINT (174.76791 -41.29516)
6,node,2581960427,Liquorland,POINT (174.77242 -41.29545)
7,node,2626504642,Cuba Liquor World,POINT (174.77575 -41.29348)
8,node,2967030816,Glengarry Wines,POINT (174.76241 -41.28938)
9,node,6064972586,Super Liquor,POINT (174.73721 -41.28436)
10,node,6856370255,Thirsty Liquor,POINT (174.77322 -41.33440)
11,node,12082128603,The Bottle-O Miramar,POINT (174.82569 -41.30705)
12,way,396336896,The Bottle-O,"POLYGON ((174.82564 -41.17718, 174.82566 -41.1..."
13,way,1155390697,JK Liquor,"POLYGON ((174.79910 -41.22814, 174.79920 -41.2..."

In [8]:
# Reproject to a projected CRS with units in meters (e.g., EPSG:3857)
well_crash_gdf = well_crash_gdf.to_crs(epsg=3857)
alcohol_store_gdf = alcohol_store_gdf.to_crs(epsg=3857)

In [9]:
# Perform the spatial join to find car crashes near liquor stores 
crash_with_nearest_store = gpd.sjoin_nearest(well_crash_gdf, 
                                             alcohol_store_gdf, how="left", 
                                             distance_col="distance_to_store (meters)")

# View the result
crash_with_nearest_store.head()

,OBJECTID,advisorySpeed,areaUnitID,bicycle,bridge,bus,carStationWagon,cliffBank,crashDirectionDescription,crashFinancialYear,...,vehicle,waterRiver,weatherA,weatherB,geometry,index_right,element_type,osmid,name,distance_to_store (meters)
0,66388986,NaN,575300,0.0,0.0,0.0,1.0,1.0,South,2018/2019,...,0.0,0.0,Light rain,Null,POINT (19453926.966 -5054995.218),8,node,2967030816,Glengarry Wines,549.368037
1,66388998,NaN,572600,0.0,0.0,0.0,2.0,0.0,North,2017/2018,...,0.0,0.0,Fine,Null,POINT (19461442.765 -5037156.683),12,way,396336896,The Bottle-O,1324.633660
2,66389034,NaN,577000,0.0,NaN,0.0,1.0,NaN,South,2019/2020,...,NaN,NaN,Fine,Null,POINT (19459920.075 -5060635.676),2,node,1237961824,Liquorland,1722.257660
3,66389036,NaN,576800,0.0,NaN,0.0,0.0,NaN,East,2018/2019,...,NaN,NaN,Light rain,Null,POINT (19457695.090 -5057312.691),1,node,1116347011,Regional Wines and Spirits,1231.369270
4,66389128,NaN,572900,0.0,NaN,0.0,2.0,NaN,Null,2017/2018,...,NaN,NaN,Fine,Null,POINT (19455588.974 -5053135.221),3,node,1793947848,Discount Liquor Centre,2240.867544

In [10]:
# Convert distance to Kilometers
crash_with_nearest_store['distance_to_store_km'] = crash_with_nearest_store['distance_to_store (meters)'] / 1000

# print the result 
crash_with_nearest_store.head()

,OBJECTID,advisorySpeed,areaUnitID,bicycle,bridge,bus,carStationWagon,cliffBank,crashDirectionDescription,crashFinancialYear,...,waterRiver,weatherA,weatherB,geometry,index_right,element_type,osmid,name,distance_to_store (meters),distance_to_store_km
0,66388986,NaN,575300,0.0,0.0,0.0,1.0,1.0,South,2018/2019,...,0.0,Light rain,Null,POINT (19453926.966 -5054995.218),8,node,2967030816,Glengarry Wines,549.368037,0.549368
1,66388998,NaN,572600,0.0,0.0,0.0,2.0,0.0,North,2017/2018,...,0.0,Fine,Null,POINT (19461442.765 -5037156.683),12,way,396336896,The Bottle-O,1324.633660,1.324634
2,66389034,NaN,577000,0.0,NaN,0.0,1.0,NaN,South,2019/2020,...,NaN,Fine,Null,POINT (19459920.075 -5060635.676),2,node,1237961824,Liquorland,1722.257660,1.722258
3,66389036,NaN,576800,0.0,NaN,0.0,0.0,NaN,East,2018/2019,...,NaN,Light rain,Null,POINT (19457695.090 -5057312.691),1,node,1116347011,Regional Wines and Spirits,1231.369270,1.231369
4,66389128,NaN,572900,0.0,NaN,0.0,2.0,NaN,Null,2017/2018,...,NaN,Fine,Null,POINT (19455588.974 -5053135.221),3,node,1793947848,Discount Liquor Centre,2240.867544,2.240868

In [11]:
# Rename the 'name' column to 'alcohol_store'
crash_with_nearest_store = crash_with_nearest_store.rename(columns={'name': 'alcohol_store'})

# Print the updated dataframe to verify the change
crash_with_nearest_store.head()

,OBJECTID,advisorySpeed,areaUnitID,bicycle,bridge,bus,carStationWagon,cliffBank,crashDirectionDescription,crashFinancialYear,...,waterRiver,weatherA,weatherB,geometry,index_right,element_type,osmid,alcohol_store,distance_to_store (meters),distance_to_store_km
0,66388986,NaN,575300,0.0,0.0,0.0,1.0,1.0,South,2018/2019,...,0.0,Light rain,Null,POINT (19453926.966 -5054995.218),8,node,2967030816,Glengarry Wines,549.368037,0.549368
1,66388998,NaN,572600,0.0,0.0,0.0,2.0,0.0,North,2017/2018,...,0.0,Fine,Null,POINT (19461442.765 -5037156.683),12,way,396336896,The Bottle-O,1324.633660,1.324634
2,66389034,NaN,577000,0.0,NaN,0.0,1.0,NaN,South,2019/2020,...,NaN,Fine,Null,POINT (19459920.075 -5060635.676),2,node,1237961824,Liquorland,1722.257660,1.722258
3,66389036,NaN,576800,0.0,NaN,0.0,0.0,NaN,East,2018/2019,...,NaN,Light rain,Null,POINT (19457695.090 -5057312.691),1,node,1116347011,Regional Wines and Spirits,1231.369270,1.231369
4,66389128,NaN,572900,0.0,NaN,0.0,2.0,NaN,Null,2017/2018,...,NaN,Fine,Null,POINT (19455588.974 -5053135.221),3,node,1793947848,Discount Liquor Centre,2240.867544,2.240868

In [13]:
# Select only the desired columns
crash_with_nearest_store = crash_with_nearest_store[['OBJECTID', 'alcohol_store', 'distance_to_store (meters)', 'distance_to_store_km']]

# Print the result to verify
crash_with_nearest_store.head(20)

,OBJECTID,alcohol_store,distance_to_store (meters),distance_to_store_km
0,66388986,Glengarry Wines,549.368037,0.549368
1,66388998,The Bottle-O,1324.633660,1.324634
2,66389034,Liquorland,1722.257660,1.722258
3,66389036,Regional Wines and Spirits,1231.369270,1.231369
4,66389128,Discount Liquor Centre,2240.867544,2.240868
5,66389132,Liquorland,548.673799,0.548674
6,66389147,Thirsty Liquor,1579.315749,1.579316
7,66389180,JK Liquor,1343.453501,1.343454
8,66389187,Discount Liquor Centre,720.084760,0.720085
9,66389213,Discount Liquor Centre,540.785168,0.540785
10,66389214,Regional Wines and Spirits,455.640283,0.455640
11,66389217,Regional Wines and Spirits,1459.219106,1.459219
12,66389220,Liquorland,181.549459,0.181549
13,66389253,The Bottle-O,704.040410,0.704040
14,66389345,JK Liquor,4054.159433,4.054159
15,66389365,nan,1915.865194,1.915865
16,66389413,JK Liquor,3815.496660,3.815497
17,66389421,Cuba Liquor World,519.328095,0.519328
18,66389452,Discount Liquor Centre,1330.009675,1.330010
19,66389529,JK Liquor,623.380230,0.623380

In [ ]:
# Save the result 
crash_with_nearest_store.to_csv('../data/crash_near_alcohol_store.csv', index=False)